:root{
  --width-muiten: calc(1190 * 90%)
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #5372ef;
}
.container {
  width: 90%;
  max-width: 77.5em;
  background-color: #ffeded;
  padding: 3em 0.5em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.8em;
}
h3 {
  text-align: center;
  width: 60%;
  margin: 0 auto 2em auto;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1.8em;
  color: #010c39;
}
.draggable-objects,
.drop-points {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}
.draggable-image {
  width: 11em;
  cursor: move;
}
img {
  width: 11em;
  filter: drop-shadow(0 0.3em 0.9em rgba(0, 0, 0, 0.25));
}
.countries-container{
  position: relative;
}
.countries {
  width: 10em;
  height: 8em;
  display: grid;
  place-items: center;
  border: 1px dashed #010c39;
  border-radius: 0.8em;
}
.dropped {
  padding: 0;
  background-color: #e5ffc8;
}
.controls-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* background-color: #5372ef; */
  flex-direction: column;
  top: 0;
}
.controls-container button {
  font-size: 1.12em;
  padding: 0.8em 1em;
  border-radius: 0.2em;
  border: none;
  outline: none;
  color: #010c39;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: aqua;
  border-radius: 8px;
}
.controls-container p {
  color: #ffffff;
  font-size: 2em;
  margin-bottom: 1em;
}
.hide {
  display: none;
}
#result{
  color: red;
  font-weight: bold;
}
.muiten{
  position: absolute;
  top: 50%;
  right: -21px;
  transform: translateY(-50%);
}
.countries-container:last-child .muiten{
  display: none;
}
.countries-container .muiten1{
  position: absolute;
  display: none;
}
.countries-container:last-child .muiten1{
  display: block;
    position: absolute;
    bottom: 95%;
    right: 71px;
}
.countries-container:last-child .muiten1 img{
  width: 46em;
}
.muiten img{
  width: 50px;
}